CompileFlags:
  CompilationDatabase: .
  Add:
    - -std=c++20
    - -Icrates/nodesea-bt/include

Index:
  Background: Build
  StandardLibrary: Yes

---
If:
  PathMatch: target/.*
Index:
  Background: Skip
